/*Renault #F8B101 onHover #FFCC00*/
/* Nissan #DD0614 onHover #FF1222*/
$btn-color:    #DD0614;
$btn-color-hover: #FF1222;
$font-color: #DD0614;

.row {
  max-width: 100%;
}

button-side-nav {
  &:hover, &:focus {
    background-color: $btn-color-hover;
  }
}

.button-side-nav {
  &:hover, &:focus {
    background-color: $btn-color-hover;
  }
}

button-side-nav {
  &:hover, &:focus {
    color: #FFFFFF;
  }
}

.button-side-nav {
  &:hover, &:focus {
    color: #FFFFFF;
  }
}

.transparent-top-bar {
  background-color: transparent;
}

/*Button customize*/

.btn-rnlt {
  background-color: $btn-color;
}
.btn-search {
  background-color: $btn-color;
  border: 1px solid $btn-color;
}
.font-rnlt{
	color: $font-color;
}


button {
  &:hover, &:focus {
    background-color: $btn-color-hover;
  }
}

.button {
  &:hover, &:focus {
    background-color: $btn-color-hover;
  }
}

/*input text in Top Bar*/
/* #searchKey {
	background: #fff url(../img/search-icon.png) right;
	background-repeat: no-repeat;
	border-radius: 5px 0 0 5px;
} */

/*shopping cart*/

.cart {
  background: url(../img/shopping_cart9.png) right;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  height: 45px;
  width: 45px;
}

.cart_number {
  color: #F00;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0.1rem;
  font: 0.6rem Arial;
  background: $btn-color;
}

.cart_animation:hover {
  padding: 2px 0 0 0px;
}

/*Init Table*/

.item-list {
  border: 2px solid #f4f4f4;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.item-filter {
  padding: 0px;
  color: #666;
}

.item-list:hover {
  -webkit-box-shadow: 0 0 10px #666;
  -moz-box-shadow: 0 0 10px #666;
  box-shadow: 0 0 10px #666;
}

/*input*/

input.radius {
  border: 1px solid $btn-color;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 1px $btn-color;

  &:focus {
    border-color: $btn-color-hover;
  }
}

/*Icon bar*/

.icon-bar > * {
  font-size: 1rem;
  padding: 1.5rem;
  background: #f4f4f4;
  height: 4rem;

  label {
    color: #4A4A4A;
    font-weight: bold;
  }
}

.nav_menu {
  border-radius: 0 0 6px 6px;
}

.icon-bar > a:hover {
  background: $btn-color;
}

/* 
menu drop down Button*/

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: $btn-color;
  color: #FFFFFF;
  line-height: 2.8125rem;
  padding: 0 0.9375rem;

  &:hover {
    background: $btn-color;
    color: #FFFFFF;
  }
}

/* .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
        background: #333333;
        color: #FFFFFF; } 
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
        background-color: #555555;
        color: #FFFFFF;
        background: #222222; }    */

/* .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
        color: #FFFFFF;
        background-color: #555555;
        background: $btn-color-hover; 
}
.top-bar-section li.active:not(.has-form) a:not(.button):not(.menu_label):hover {
        background: $btn-color-hover;
        color: #FFFFFF; }   */

/*  .top-bar-section ul li>button {
	font-size: 0.8125rem;
	padding-right: 0.9375rem;
	padding-left: 0.9375rem;
	background-color: $btn-color;
	border-color: $btn-color;
	color: #FFFFFF;
}

.top-bar-section ul li>button:hover,.top-bar-section ul li>button:focus
	{
	background-color: $btn-color-hover;
}

.top-bar-section ul li>button:hover,.top-bar-section ul li>button:focus
	{
	color: #FFFFFF;
}  
      
      
        .top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a {
          color: #FFFFFF;
          display: block; }
          .top-bar-section .dropdown li.title h5 a:hover, .top-bar-section .dropdown li.parent-link a:hover {
            background-color: #555555;
        background: #555555;
         }
            
   */
/*Drop down*/

.menu_dropdown {
  background: #f4f4f4;
  height: auto;
}

/*range-slider*/

.range-slider-handle:hover {
  background: $btn-color-hover;
}

#footer {
  background: $btn-color;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1.5rem;
  background: #fff;
  margin-bottom: 0;
  color: #222;

  p {
    color: #222;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.8125rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
}

.orbit-container {
  overflow: hidden;
  width: 100%;
  align: center;
  position: relative;
  background: none;
}

.rn_image {
  background: url(../img/Renault-Nissan_Alliance_logo.png) right;
  background-repeat: no-repeat;
  background-size: 128px 35px;
  height: 45px;
}

.breadcrumbs {
  border-style: solid;
  border-width: 0px;
  background-color: white;
}

.menu-font {
  color: $btn-color-hover;
  float: left;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  margin: 0.4rem 0.2rem 0.4rem 0rem;
}

.message-box {
  color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.sticky-message-bar {
  background-color: #43AC6A;
}

.contain-to-grid {
  width: 100%;
  background: #43AC6A;
}

.edit_table_success_message {
  position: fixed;
  margin: auto;
  width: 280px;
  height: 25px;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #43AC6A;
  border-color: #3a945b;
  color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.8125rem;
  text-align: center;
  line-height: 25px;
}

.edit_table_success_message_close {
  position: fixed;
  margin: auto;
  width: 20px;
  height: 25px;
  top: 10px;
  left: 230px;
  right: 0;
  z-index: 1000;
  background-color: #43AC6A;
  border-color: #3a945b;
  color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.8125rem;
  text-align: center;
  line-height: 25px;
}

/*  CUSTOM CSS STARTS HERE */

.grid {
  .ui-grid-render-container-body .ui-grid-header-cell, .ui-grid-render-container-left .ui-grid-header-cell, .ui-grid-row {
    height: 30px !important;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    color: #222;
  }

  .ui-grid-cell {
    height: 30px !important;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    color: #222;

    .ui-grid-vertical-bar {
      height: 30px !important;
      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-size: 1rem;
      color: #222;
    }
  }
}

.uploadButton {
 
    border: none;
    border-radius: 3px;
  	color:$font-color;
 	background:$btn-color;
    display: inline-block;
    height: 30px;
    margin-right:15px;
    width: auto;
    padding:0 20px;
    box-sizing: content-box;
}
.uploadButton :hover {
 
    border: none;
    border-radius: 3px;
 	color:$font-color;
 	background-hover:$btn-color-hover;
    display: inline-block;
    height: 30px;
    margin-right:15px;
    width: auto;
    padding:0 20px;
    box-sizing: content-box;
}
